<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:if="${sessionUser == null}">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:if="${sessionUser == null}">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" th:if="${sessionUser != null}">
                <a class="nav-link" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
            </li>

            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-9">
            <div class="col-12">
                <h1 th:text="${beitrag.getTitel()}"></h1>
                <br>
                <p th:text="${beitrag.getText()}"></p>
                <br><br>

                <form th:action="@{/beitrag/{id}/commentdeleted(id=${beitrag.getId()})}" th:each="einKommentar : ${beitrag.getKommentare()}" method="post">
                    <strong th:text="${einKommentar.getNutzer().getUsername()+':'}"></strong>
                    <br>
                    <span th:text="${einKommentar.getText()}"></span>
                    <br>
                    <p th:if="${sessionUser != null}">
                        <button class="btn" name="commentId" th:value="${einKommentar.getId()}" th:if="${sessionUser.isAdmin() || sessionUser.getId()== einKommentar.getNutzer().getId()}" type="submit">Delete</button>
                    </p>
                </form>
            </div>
        </div>

        <div class="col-3" th:if="${sessionUser != null}">
            <form th:action="@{/beitrag/{id}/addedcomment(id=${beitrag.getId()})}" th:object="${kommentarDTO}"method="post">
                <p>Kommentar hinzufügen: </p>
                <p><input type="text" th:field="${kommentarDTO.text}"></p>
                <p><input type="submit" value="Hinzufügen"></p>
            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>